.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  margin-bottom: 10px;
}

.name {
  margin-bottom: 6px;
  font-weight: 600;
}

.isOnline {
  color: green;
}

.isOffline {
  color: red;
}
